<div *ngIf="storeProductList">  
  
    <div *ngFor="let storeProduct of storeProductList">     
     
      <div *ngIf="store == storeProduct.store">
          <table>
            <th colspan="3">{{store}}</th>
            <tr *ngFor="let productData of storeProduct.productData">
              <td><img [src]="productData.imgUrl" width="50" height="50"></td>
               <td>{{productData.description}}</td>
                <td>{{productData.price}}</td>
            </tr>
          </table>
      </div>
     
  </div>
  
</div> 
